@model IEnumerable<GestiuneExamene.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("DenumireSpecializare", "Specializare")
        </th>
        <th>
            @Html.Label("nrGrupa", "Grupa")
        </th>
        <th>
            @Html.Label("AnStudiu", "Anul de studiu")
        </th>
        <th>
            @Html.Label("AnUniversitar", "An universitar")
        </th>
        <th>
            @Html.Label("Matricola", "Matricola")
        </th>
        <th>
            @Html.Label("Username", "Username")
        </th>
        <th>
            @Html.Label("Nume", "Nume")
        </th>
        <th>
            @Html.Label("Prenume", "Prenume")
        </th>
        <th>
            @Html.Label("StatusStudent", "StatusStudent")
        </th>
        <th></th>
    </tr>

    @foreach (var student in ViewBag.Students)
    {
        <tr>
            <td>
                @student.Group.Specialization.DenumireSpecializare
            </td>
            <td>
                @student.Group.nrGrupa
            </td>
            <td>
                @student.Group.StudyYear.AnStudiu
            </td>
            <td>
                @student.Group.AcademicYear.AnUniversitar
            </td>
            <td>
                @student.Matricola
            </td>
            <td>
                @student.Username
            </td>
            <td>
                @student.Nume
            </td>
            <td>
                @student.Prenume
            </td>
            <td>
                @student.StatusStudent
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

@*@foreach (var item in Model) {
    @Html.Partial("_Group", item)
}*@
