@{
    ViewBag.Title = "Buildings";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("DenumireCorp", "Corp")
        </th>
        <th>
            @Html.Label("Adresa", "Adresa")
        </th>
        <th></th>
    </tr>

@foreach (var building in ViewBag.Buildings) {
    <tr>
        <td>
            @building.DenumireCorp
        </td>
        <td>
            @building.Adresa
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=building.IdCorp }) |
            @Html.ActionLink("Details", "Details", new { id=building.IdCorp }) |
            @Html.ActionLink("Delete", "Delete", new { id=building.IdCorp })
        </td>
    </tr>
}

</table>
