@model GestiuneExamene.Models.SubjectCoverage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubjectCoverage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcademicYear.AnUniversitar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicYear.AnUniversitar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professor.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.Nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialization.DenumireSpecializare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization.DenumireSpecializare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudyYear.AnStudiu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyYear.AnStudiu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.DenumireDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.DenumireDisciplina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
