@model IEnumerable<GestiuneExamene.Models.MakeupExam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AcademicYear.AnUniversitar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classroom.TipSala)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session.DenumireSesiune)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.DenumireDisciplina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModEvaluare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Durata)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AcademicYear.AnUniversitar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classroom.TipSala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Session.DenumireSesiune)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.DenumireDisciplina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModEvaluare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Durata)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
