@model GestiuneExamene.Models.Faculty
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Faculty"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(b => b.IdFacultate) <!--camp hidden id -->
    <br />
    @Html.Label("DenumireFacultate", "Denumire facultate:")
    <br />
    @Html.EditorFor(b => b.DenumireFacultate, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.DenumireFacultate, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("AdresaFacultate", "Adresa:")
    <br />
    @Html.Editor("AdresaFacultate", new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.AdresaFacultate, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-primary" type="submit">Update</button>
}


