@model GestiuneExamene.Models.Faculty

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Faculty", method: FormMethod.Post))
{
    @Html.Label("DenumireFacultate", "Denumire Facultate:")
    <br />
    @Html.TextBoxFor(b => b.DenumireFacultate, null, new { placeholder = "Introduceti denumirea facultatii:", @class = "formcontrol" })
    @Html.ValidationMessageFor(b => b.DenumireFacultate, "", new { @class = "text-danger" })
    <br />
    @Html.Label("AdresaFacultate", "Adresa:")
    <br />
    @Html.TextBoxFor(b => b.AdresaFacultate, null, new { placeholder = "Introduceti adresa facultatii:", @class = "formcontrol" })
    @Html.ValidationMessageFor(b => b.AdresaFacultate, "", new { @class = "text-danger" })
    <br />
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Create</button>
}

