@model IEnumerable<GestiuneExamene.Models.Classroom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("DenumireCorp", "Corp")
        </th>
        <th>
            @Html.Label("NrSala", "Sala")
        </th>
        <th>
            @Html.Label("Etaj", "Etaj")
        </th>
        <th>
            @Html.Label("NrLocuri", "Numar locuri")
        </th>
        <th>
            @Html.Label("TipSala", "Tip sala")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Building.DenumireCorp)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NrSala)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Etaj)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NrLocuri)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TipSala)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
