@model IEnumerable<GestiuneExamene.Models.Classroom>

@{
    ViewBag.Title = "Classrooms";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("DenumireCorp", "Corp")
        </th>
        <th>
            @Html.Label("NrSala", "Sala")
        </th>
        <th>
            @Html.Label("Etaj", "Etaj")
        </th>
        <th>
            @Html.Label("NrLocuri", "Numar locuri")
        </th>
        <th>
            @Html.Label("TipSala", "Tip sala")
        </th>
        <th></th>
    </tr>

@foreach (var classroom in ViewBag.Classrooms) {
    <tr>
        <td>
            @classroom.Building.DenumireCorp
        </td>
        <td>
            @classroom.NrSala
        </td>
        <td>
            @classroom.Etaj
        </td>
        <td>
            @classroom.NrLocuri
        </td>
        <td>
            @classroom.TipSala
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
