@model IEnumerable<GestiuneExamene.Models.Group>

@{
    ViewBag.Title = "Groups";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("DenumireSpecializare", "Specializare")
        </th>
        <th>
            @Html.Label("nrGrupa", "Grupa")
        </th>
        <th>
            @Html.Label("AnStudiu", "Anul de studiu")
        </th>
        <th>
            @Html.Label("AnUniversitar", "An universitar")
        </th>
        <th>
            @Html.Label("NrStudenti", "Nr. Studenti")
        </th>
        <th></th>
    </tr>

@foreach (var group in ViewBag.Groups) {
    <tr>
        <td>
            @group.Specialization.DenumireSpecializare
        </td>
        <td>
            @group.nrGrupa
        </td>
        <td>
            @group.StudyYear.AnStudiu
        </td>
        <td>
            @group.AcademicYear.AnUniversitar
        </td>
        <td>
            @group.NrStudenti
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
