@model IEnumerable<GestiuneExamene.Models.Session>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("DenumireSesiune", "Sesiune")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DenumireSesiune)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSesiune }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSesiune }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSesiune })
        </td>
    </tr>
}

</table>
